@charset "utf-8";
@import 'sass_base/mixin';
@import 'sass_base/base';
@import 'sass_base/animate';
@import 'sass_base/_page_animete';
@import 'sass_base/icon_arrow';
@import 'sass_base/coding_guideline';

.wapper {
    @include wapper_setting();    
}

.page_wapper_master {
    width: 750px;
    margin: 0 auto;
    img {
        display: block;
    }
    @include media($sp) {
        width: 100%;
    }
}
.header {
    position: sticky;
    top: 0;
    z-index: 9999;
}
.txt_fotter {
    background: #DEDEDE;
    height: 60px;
    display: flex;
    @include rs_font_size(12px,1.171875vw,3.2vw);
    //フォント（px）【PC】:12pxpx |【Tab】12px |【sp】 12px
    //設定サイズ（px）【PC】:1024px |【Tab】1024px |【sp】 375px
    justify-content: center;
    align-items: center;
}
.new03wap {
    width: 750px;
    margin: auto;
    position: relative;
    @include media($tab) {
        @include ontener_width(1024 , 750 );
    }
    @include media($sp) {
        @include ontener_width(375 , 375 );
    }
}
.new03wap {
    img {
        display: block;
    }
}
.header03 {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}
.actionNew03 {
    display: none;
    &.active {
        display: block;
    }
    &.nonactive {
        display: none;
    }
}

.new03footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #E5E5E5;
    box-shadow: 0px 8px 16px -2px rgba(10,10,10,0.8), 0px -4px 0px 1px rgba(10,10,10,0.01);
}
.new03footer {    
    li {
        
        border-bottom: 2.5px solid #ED4A44;
        cursor: pointer;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        color: #FFF;
        font-size: 12px;
        @include media($sp) {
            font-size: 3.2vw;
        }
    }
}
.new03footer li{
     background: #FFF;
     color: #6E6E6D;
     &.active {
         color: #FFF;
         background: #ED4A44;
     }
}
//タブ
.new03footerTab_5 {
    li {
        width: calc(20% - 1px) ;
    }
}
.new03footerTab_4 {
    li {
        width: calc(25% - 1px) ;
    }
}
.new03footerTab_3 {
    li {
        width: calc(33.33333333% - 1px) ;
    }
}
.new03footerTab_2 {
    li {
        width: calc(50% - 1px) ;
    }
}
.new03footerTab_1 {
    li {
        width: 100%;
    }
}